@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

html {
  box-sizing: border-box;
  font-size: 10px;
  background: #020406; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #020406 , #082c3d); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #020406, #082c3d); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #020406, #082c3d); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #020406 , #082c3d); /* Standard syntax */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  display: flex;
  flex-wrap: wrap;
}

#container{
  width: 70%;
  height: 100vh;
  flex: 1 0 70%;
  position: relative;
}

#inner{
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
}

#player{
  height: 31rem;
  width: 22rem;
  background: url( "../images/nath.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 999;
  cursor: pointer;
  transition: all .1s ease;
}

.clicked{
  background: url( "../images/nath2.png") !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  height: 33rem !important;
  width: 23rem !important;
}

#upgrade-container{
  width: 20%;
  height: 100vh;
  flex: 1 0 30%;
  background: rgba(0,0,0, 0.8);
  z-index: 0; 
  position: relative; 
}

.booster{
  width: 100%;
  padding: 4rem 5rem;
  color: #fff;
  font-family: 'Font-awesome', 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  z-index: 3;
  position: relative;
}
.booster .left-content,
.booster .right-content{
  width: 50%;
  display: inline-block;
  z-index: -1;
  position: relative;
}
.booster .right-content{
  text-align: right;
  font-size: 3rem;
  font-weight: 700;
}
.booster h1{
  display: block;
  font-size: 2.5rem;
  z-index: 0;
  position: relative;
}

.locked{
  opacity: 0.3;
  cursor: default !important;
}

#scoreCounter{
  width: 100%;
  background: rgba(0,0,0, 0.8);
  text-align: center;
  padding: 2rem;
  margin: 5rem 0rem; 
  color: #fff;
  font-size: 3.5rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;  
  font-weight: 700;
}

#codePerSecond{
  font-size: 1.8rem;
  margin-top: 1rem;
}